@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;

  --font-heading: var(--font-manrope);
  --font-body: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

::selection {
  background: #2563eb;
  color: #ffffff;
}

button,
a {
  transition: all 0.2s ease-in-out;
}

img {
  user-select: none;
}